streamlit
opencv-python==4.6.0.66
Pillow==9.4.0
openvino-dev==2022.3.0
streamlit-webrtc==0.34.0
scipy==1.10.1
openvino
numpy==1.26.4
opencv-python-headless==4.10.0.84
streamlit-camera-input-live==0.2.0
