opencv-python-headless==4.5.3.56
numpy==1.21.0
openvino==2024.0.0
streamlit==1.19.0
streamlit-webrtc==0.41.0
scipy>=1.10.0
streamlit-camera-input-live==0.2.0
setuptools>=58.0.0  # Added to resolve distutils issue
